<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xgreek.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA6ADA62212B400400CCA326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA6ADA76212B400500CCA326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA6ADA81212B400500CCA326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
